    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- nano gallery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nanogallery2/3.0.5/jquery.nanogallery2.min.js" integrity="sha512-tvpLVnZrWnnNzV2921XEMx4xkFTUF8xg3s+Mi6cvC/R7A6X1FkpBUXPJFa3Xh5uD9BvOZ2tHeYq/5ZqrweW86Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        window.BASE_URL_API = window.location.origin+"/api/";
        window.BASE_URL = window.location.origin;
    </script>
</body>

<!-- Footer -->
<!-- <footer class="footer-ctn">
    <div class="container">
        <div class="footer-list-ctn">
            <div class="footer-list">
                <h4>lorem</h4>
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>dolor</li>
                    <li>sit</li>
                    <li>amet</li>
                    <li>consectetur</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
            <div class="footer-list">
                <h4>lorem</h4>
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>dolor</li>
                    <li>sit</li>
                    <li>amet</li>
                    <li>consectetur</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
            <div class="footer-list">
                <h4>lorem</h4>
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>dolor</li>
                    <li>sit</li>
                    <li>amet</li>
                    <li>consectetur</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
            <div class="footer-list">
                <h4>lorem</h4>
                <ul>
                    <li>Lorem, ipsum dolor.</li>
                    <li>dolor</li>
                    <li>sit</li>
                    <li>amet</li>
                    <li>consectetur</li>
                    <li>Lorem, ipsum dolor.</li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->

  <footer class="footer-ctn">
    <div class="container">
      <!-- <div class="footer-list-ctn">
        <div class="footer-list">
          <h4>Bridal makeup Artists</h4>
          <ul>
            <li><a href="https://www.wednow.in/vendors/delhi-ncr/bridal-makeup" target="_blank">Bridal makeup in Delhi
                NCR </a></li>
            <li><a href="https://www.wednow.in/vendors/mumbai/bridal-makeup" target="_blank">Bridal makeup in Mumbai
              </a></li>
            <li><a href="https://www.wednow.in/vendors/bangalore/bridal-makeup" target="_blank">Bridal makeup in
                Bangalore </a></li>
            <li><a href="https://www.wednow.in/vendors/chennai/bridal-makeup" target="_blank">Bridal makeup in Chennai
              </a></li>
            <li><a href="https://www.wednow.in/vendors/pune/bridal-makeup" target="_blank">Bridal makeup in Pune </a>
            </li>
            <li><a href="https://www.wednow.in/vendors/hyderabad/bridal-makeup" target="_blank">Bridal makeup in
                Hyderabad </a></li>
          </ul>
        </div>
        <div class="footer-list">
          <h4>Wedding Venues</h4>
          <ul>
            <li><a href="https://www.wednow.in/vendors/delhi-ncr/venue" target="_blank">Wedding Venues in Delhi NCR
              </a></li>
            <li><a href="https://www.wednow.in/vendors/mumbai/venue" target="_blank">Wedding Venues in Mumbai </a></li>
            <li><a href="https://www.wednow.in/vendors/bangalore/venue" target="_blank">Wedding Venues in Bangalore
              </a></li>
            <li><a href="https://www.wednow.in/vendors/chennai/venue" target="_blank">Wedding Venues in Chennai </a>
            </li>
            <li><a href="https://www.wednow.in/vendors/pune/venue" target="_blank">Wedding Venues in Pune </a></li>
            <li><a href="https://www.wednow.in/vendors/hyderabad/venue" target="_blank">Wedding Venues in Hyderabad
              </a></li>
          </ul>
        </div>
        <div class="footer-list">
          <h4>Wedding Photographers</h4>
          <ul>
            <li><a href="https://www.wednow.in/vendors/delhi-ncr/photographer" target="_blank">Wedding Photographers in
                Delhi NCR </a></li>
            <li><a href="https://www.wednow.in/vendors/mumbai/photographer" target="_blank">Wedding Photographers in
                Mumbai </a></li>
            <li><a href="https://www.wednow.in/vendors/bangalore/photographer" target="_blank">Wedding Photographers in
                Bangalore </a></li>
            <li><a href="https://www.wednow.in/vendors/chennai/photographer" target="_blank">Wedding Photographers in
                Chennai </a></li>
            <li><a href="https://www.wednow.in/vendors/pune/photographer" target="_blank">Wedding Photographers in Pune
              </a></li>
            <li><a href="https://www.wednow.in/vendors/hyderabad/photographer" target="_blank">Wedding Photographers in
                Hyderabad </a></li>
          </ul>
        </div>
        <div class="footer-list">
          <h4>Wedding Decorators</h4>
          <ul>
            <li><a href="https://www.wednow.in/vendors/delhi-ncr/decorators" target="_blank">Wedding Decorators in
                Delhi NCR </a></li>
            <li><a href="https://www.wednow.in/vendors/mumbai/decorators" target="_blank">Wedding Decorators in Mumbai
              </a></li>
            <li><a href="https://www.wednow.in/vendors/bangalore/decorators" target="_blank">Wedding Decorators in
                Bangalore </a></li>
            <li><a href="https://www.wednow.in/vendors/chennai/decorators" target="_blank">Wedding Decorators in
                Chennai </a></li>
            <li><a href="https://www.wednow.in/vendors/pune/decorators" target="_blank">Wedding Decorators in Pune </a>
            </li>
            <li><a href="https://www.wednow.in/vendors/hyderabad/decorators" target="_blank">Wedding Decorators in
                Hyderabad </a></li>
          </ul>
        </div>
         <div class="footer-list">
          <h4>Sitemps</h4>
          <ul>
             <li><a href="https://www.wednow.in/sitemap.html" target="_blank"> WedNow sitemap </a></li>
          <li><a href="https://www.wednow.in/blogs/sitemap" target="_blank">WedNow Blogs sitemap </a></li>
          </ul>
        </div>
      </div> -->
      <!-- <div class="footer-list-ctn">
            <div class="footer-list">
              <h4>Wedding Photographers</h4>
              <ul>
                <li><a href="https://www.wednow.in/vendors/delhi-ncr/photographer" target="_blank">Wedding Photographers in Delhi NCR </a></li>
                <li><a href="https://www.wednow.in/vendors/mumbai/photographer" target="_blank">Wedding Photographers in Mumbai </a></li>
                <li><a href="https://www.wednow.in/vendors/bangalore/photographer" target="_blank">Wedding Photographers in Bangalore </a></li>
                <li><a href="https://www.wednow.in/vendors/chennai/photographer" target="_blank">Wedding Photographers in Chennai </a></li>
                <li><a href="https://www.wednow.in/vendors/pune/photographer" target="_blank">Wedding Photographers in Pune </a></li>
                <li><a href="https://www.wednow.in/vendors/hyderabad/photographer" target="_blank">Wedding Photographers in Hyderabad </a></li>
              </ul>
            </div>
            <div class="footer-list">
              <h4>Wedding Decorators</h4>
              <ul>
                <li><a href="https://www.wednow.in/vendors/delhi-ncr/decorators" target="_blank">Wedding Decorators in Delhi NCR </a></li>
                <li><a href="https://www.wednow.in/vendors/mumbai/decorators" target="_blank">Wedding Decorators in Mumbai </a></li>
                <li><a href="https://www.wednow.in/vendors/bangalore/decorators" target="_blank">Wedding Decorators in Bangalore </a></li>
                <li><a href="https://www.wednow.in/vendors/chennai/decorators" target="_blank">Wedding Decorators in Chennai </a></li>
                <li><a href="https://www.wednow.in/vendors/pune/decorators" target="_blank">Wedding Decorators in Pune </a></li>
                <li><a href="https://www.wednow.in/vendors/hyderabad/decorators" target="_blank">Wedding Decorators in Hyderabad </a></li>
              </ul>
            </div>
          </div> -->
      <div class="copyright-ctn">
        <span> &#169; 2023 Blog Site Pvt LTD. All rights reserved @ House Of Couton</span>
      </div>
    </div>
  </footer>

</html>