<!-- Google Tag Manager (noscript) -->
<noscript
	><iframe
		src="https://www.googletagmanager.com/ns.html?id=GTM-WS7P6HTC"
		height="0"
		width="0"
		style="display: none; visibility: hidden"
	></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
<nav>
	<div class="container">
		<a class="logo-ctn">
			<img src="/logo.png" alt="logo" />
			<h1>InGenral</h1>
		</a>
	</div>
</nav>
