<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>InGenral | Sign In</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/blogStyles.css" />

		<!-- Quicksand Font -->
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:600|Poppins:500|Quicksand:500,700|Raleway&amp;display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<%- include('./partials/nav'); -%>
		<div class="main">
			<!-- Sing in  Form -->
			<center>
				<h1 style="color: red"><%= message %></h1>
				<button
					style="
						padding: 6px;
						background-color: transparent;
						border: 1px solid black;
						border-radius: 10px;
					"
					onclick="window.location.href='<%= btn_url %>'"
				>
					<%= btn_message %>
				</button>
			</center>
		</div>

		<!-- JS -->

		<script>

				e.preventDefault();
				try {
					setloading(true);

					const email = e.currentTarget.email.value.trim();
					const pass = e.currentTarget.pass.value.trim();

					await axios.post(`${window.BASE_URL_API}readers/login`, {
						email,
						password: pass,
					});

					window.location.href = window.BASE_URL;
				} catch (error) {
					if (error.response) {
						alert(error.response.data.message);
					} else {
						alert("Something went wrong!");
					}
				} finally {
					setloading(false);
				}
			}
		</script>
	</body>
</html>
