<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/common_header'); -%>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>InGenral | Sign In</title>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/blogStyles.css" />

		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css"
		/>
		<!-- Main css -->
		<link rel="stylesheet" href="/signup_assests/css/style.css" />

		<!-- Quicksand Font -->
		<link
			href="https://fonts.googleapis.com/css?family=Montserrat:600|Poppins:500|Quicksand:500,700|Raleway&amp;display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<%- include('./partials/nav'); -%>
		<div class="main">
			<!-- Sing in  Form -->
			<section class="sign-in">
				<div class="container">
					<div class="signin-content">
						<div class="signin-image">
							<figure>
								<img
									src="/signup_assests/images/signin-image.jpg"
									alt="sing up image"
								/>
							</figure>
							<a href="/pages/register" class="signup-image-link"
								>Create an account</a
							>
						</div>

						<div class="signin-form">
							<h2 class="form-title">Sign In</h2>
							<form method="POST" class="register-form" id="login-form">
								<div class="form-group">
									<label for="email"><i class="zmdi zmdi-email"></i></label>
									<input
										type="email"
										name="email"
										id="email"
										placeholder="Your Email"
										required
									/>
								</div>
								<div class="form-group">
									<label for="pass"><i class="zmdi zmdi-lock"></i></label>
									<input
										type="password"
										name="pass"
										id="pass"
										placeholder="Password"
										maxlength="12"
										minlength="5"
										required
									/>
								</div>
								<!-- <div class="form-group">
									<input
										type="checkbox"
										name="remember-me"
										id="remember-me"
										class="agree-term"
									/>
									<label for="remember-me" class="label-agree-term"
										><span><span></span></span>Remember me</label
									>
								</div> -->
								<div class="form-group form-button">
									<input
										type="submit"
										name="signin"
										id="signin"
										class="form-submit"
										value="Log in"
									/>
								</div>
							</form>
							<div class="social-login">
								<span class="social-label">Or login with</span>
								<ul class="socials">
									<li>
										<a href="#"
											><i class="display-flex-center zmdi zmdi-facebook"></i
										></a>
									</li>
									<li>
										<a href="#"
											><i class="display-flex-center zmdi zmdi-twitter"></i
										></a>
									</li>
									<li>
										<a href="#"
											><i class="display-flex-center zmdi zmdi-google"></i
										></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<!-- JS -->
		<script src="/blog_home_assests/js/jquery.min.js"></script>
		<%- include('./partials/footer'); -%>
		<script>
			var btn = document.getElementById("signin");
			var form = document.getElementById("login-form");

			form.addEventListener("submit", handleSubmit);

			function setloading(bool = false) {
				let text = "";
				let isdisabled = false;
				if (bool) {
					text = "Loading...";
					isdisabled = true;
				} else {
					text = "Login";
					isdisabled = false;
				}

				btn.value = text;
				btn.disabled = isdisabled;
			}

			async function handleSubmit(e) {
				e.preventDefault();
				try {
					setloading(true);

					const email = e.currentTarget.email.value.trim();
					const pass = e.currentTarget.pass.value.trim();

					await axios.post(`${window.BASE_URL_API}readers/login`, {
						email,
						password: pass,
					});

					window.location.href = window.BASE_URL;
				} catch (error) {
					if (error.response) {
						alert(error.response.data.message);
					} else {
						alert("Something went wrong!");
					}
				} finally {
					setloading(false);
				}
			}
		</script>
	</body>
</html>
